$overlay :rgba(0, 0, 0, 0.53);
$bg-color : rgb(236, 236, 236);
$flex: flex;
$col: column;
$slickheight : 400px;
$card_img: 250px;
$primary-color:rgb(236, 236, 236);
$secondry-color:#000;
$font-family : poppins;
