@import "../../assets/scss/variables";

// for banner image-bg
.bg-image {
    // background-image: url('../../assets/img/lily-banse--YHSwy6uqvk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.page-title {
    font-size: 55px;

}
#basic-navbar-nav .text-white{
    font-weight: 600;
    margin: 0 8px;
}
.text-cards {
    width: 60%;
}

.about-section {
    background-color: $bg_color;
    padding: 40px 0px;


    h2 {
        font-size: 35px;
        width: fit-content;

        &:hover {
            color: rgb(76, 121, 121);
        }

    }

    .card {
        background-color: transparent;
    }
}


@media (max-width:768px) {
    .slick-height {
        height: auto;
    }

    .text-cards {
        width: 100%;
    }
}