
#basic-nav-dropdown\ nav-links {
    color: rgb(255, 255, 255);
}
#basic-nav-dropdown\ nav-links:after{
    position: absolute;
    top: 48%;
}
.navbar-toggler{
    background-color: aliceblue !important;
}
.bg-main-navbar {
    background: rgb(0 0 0 / 41%) !important;
    position: fixed !important;
    width: 100%;
    z-index: 999;
    top: 0;
}



