
.faq-section {
    padding: 60px 0;
    .accordion-button:focus {
        outline: none;
        box-shadow: none;
    }
}
@media (max-width:768px) {
    .faq-section {
    .row {
        gap: 10px;
    }
    }
}