$slickheight : 400px;
$card_img: 250px;

.card-flex-item{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.card-flex-image img {
    height: $card_img;
}
.card-flex-content{
    padding: 10px;
}
.slick-slide{
    padding: 0 10px;
}
.slick-height{
    height: $slickheight;
    margin: 20px 0px;
}
.slick-slide-container{
    overflow: hidden;
}
ul.slick-dots {
    bottom: 0;
    background: #ffffff;
    opacity: 0.5;
    /* color: red; */
}
.slick-prev:before,
.slick-next:before{
    color: black !important;
    font-size: 36px !important;
}
button.slick-arrow.slick-next {
    right: -15px;
}
button.slick-arrow.slick-prev{
    left: -30px;
}
.slick-dots li button:before{
    font-size: 15px !important;
}
.slick-dots li button{
    font-size: 16px !important;
    color: black !important;
}
.slick-dots li button:before{
    content: none !important;
}
@media (max-width:768px) {
    .slick-height {
        height: 350px;
    }
    .slick-height img{
        height: 350px;
        object-fit: cover;
    }

}